{{ attach_library('ncids_trans/cancer-center') }}
{% import '@ncids_trans/content_page_macros.twig' as contentPageMacros %}
<!-- ********************************* BEGIN Page Content ********************************** -->
<article>
  <div class="cgdp-profile-box cgdp-profile-box--cancer-center">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4">
        {{ content.field_image_promotional }}
      </div>

      <div class="tablet:grid-col-8">
        <h1 class="cgdp-profile-box__heading">{{ node.label }}</h1>

        <div class="cgdp-profile-box__field">
          {% if content.field_parent_institution[0] or content.field_institution_type[0] %}
            <ul class="cgdp-profile-box__titles">
              {%- if content.field_parent_institution[0] -%}
                <li class="cgdp-profile-box__title">{{ content.field_parent_institution }}</li>
              {%- endif -%}
              {%- if content.field_institution_type[0] -%}
                <li class="cgdp-profile-box__title">{{ content.field_institution_type }}</li>
              {%- endif -%}
            </ul>
          {%- endif -%}

          <div class="cgdp-profile-box__address">
            {%- if content.field_org_head_name[0] -%}
                {{ content.field_org_head_name|field_value }}
                {%- if content.field_org_head_title[0] -%}
                  ,
                  {{ content.field_org_head_title }}
                {%- endif -%}
            {%- endif -%}

            {% if content.field_address[0] %}
              {{ content.field_address }}
            {% endif %}

            {% if content.field_phone_number_1[0] or content.field_phone_number_2[0] %}
              <div>
                {% if content.field_phone_label_1[0] and content.field_phone_number_1[0] %}
                  {{- content.field_phone_label_1|field_value -}}:
                  <a href="tel:{{- content.field_phone_number_1|field_value -}}" rel="nofollow">{{ content.field_phone_number_1 }}</a><br/>
                {% endif %}
                {% if content.field_phone_label_2[0] and content.field_phone_number_2[0] %}
                  {{ content.field_phone_label_2|field_value -}}:
                  <a href="tel:{{- content.field_phone_number_2|field_value -}}" rel="nofollow">{{ content.field_phone_number_2 }}</a>
                {% endif %}
              </div>
            {% endif %}
          </div>

          {% if content.field_website_title[0] and content.field_website_url[0] %}
            <div class="cgdp-profile-box__website">
              <a href="{{- content.field_website_url|field_value -}}">{{ content.field_website_title }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- END Profile Panel slot -->

	<div class="cgdp-inner-content-area">
		<div class="cgdpl">
			<div class="contentzone">
				<div id="cgvBody">
					{{ content.body }}
				</div>
			</div>
		</div>
	</div>

	<footer class="cgdp-article-footer">
		{{ content.field_related_resources }}
		{{ contentPageMacros.ncidsDisplayDates(node, content) }}
	</footer>
</article>
