{{ page.notification_banner }}

<header class="push" role="banner">
  <div id="nvcgSlSiteBanner" class="row">
    {# {{ page.site_banner }} #}
    <div class="contentid-911584 slot-item only-SI nci-logo-pages large-12 columns">
      <a href="/"><img src="https://www.cancer.gov/publishedcontent/images/images/design-elements/logos/nci-logo-full.__v1.svg" alt="National Cancer Institute" width="60%"></a>
    </div>
  </div>
</header>

<div id="page">
  <!-- Global nav/utilit bar/language  -->
  <div class="fixedtotop">
    <div class="headroom-area">
        <!-- LANGUAGE BAR -->
        {# {{ page.language_bar }} #}
        <div class="language-bar">
          <div class="row sitewide-language">
            <div id="LangList1" class="large-12 columns">
              <ul>
                <li><a onclick="NCIAnalytics.ClickLink(this,'Language Select Spanish');" href="/espanol/cancer/tratamiento/efectos-secundarios/anemia">Español</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- END LANGUAGE BAR -->
        <!-- UTILITY NAV -->
        <div id="nvcgSlUtilityBar" class="utility-background hide-for-medium-down">
          {# {{ page.utility_bar }} #}
          <div class="contentid-911757 slot-item only-SI row utility">
            <div class="rawHtml"><div class="large-12 columns utility">
              <span><a href="/contact">1-800-4-CANCER</a></span>
              <span><a href="https://livehelp.cancer.gov" onclick="window.open('https://livehelp.cancer.gov/', 'LiveHelp','scrollbars=yes,resizable=yes,menubar=yes,toolbar=yes,location=yes,width=650,height=600'); return false;">Live Chat</a></span>
              <span><a href="/publications">Publications</a></span>
              <span id="utility-dictionary" class="link"> <a href="/publications/dictionaries/cancer-terms">Dictionary</a></span>
            </div>
          </div>
        </div>
        <!-- END UTILITY NAV -->
    </div><!-- end "headroom-area" -->
      <!-- BEGIN NAVIGATION -->
      <!-- Begin nav-search bar -->
      <div class="nav-search-bar gradient header">
         <div id="nvcgSlMainNav" class="row">
          {# {{ page.main_nav }} #}
         <div class="contentid-113330 slot-item first-SI">
            <div class="navigation">
              <div class="mobile-menu-bar">
                <button type="button" class="open-panel nav-header menu-btn">Menu</button>
                <a href="/global/contact" class="nav-contact">Contact</a>
                <a href="/publications/dictionaries/cancer-terms" class="nav-dictionary">Dictionary</a>
                <button type="button" class="nav-search">Search</button>
              </div>
              <nav id="mega-nav" role="navigation">
                <ul class="menu nav-menu">
                  <li class="nav-item lvl-1 has-children item-1">
                    <div class="nav-item-title">
                      <a href="/about-cancer">About Cancer</a>
                    </div>
                  </li>
                  <li class="nav-item lvl-1 has-children item-2">
                    <div class="nav-item-title">
                      <a href="/types">Cancer Types</a>
                    </div>     
                  </li>
                  <li class="nav-item lvl-1 has-children item-3">
                    <div class="nav-item-title">
                      <a href="/research">Research</a>
                    </div> 
                  </li>
                  <li class="nav-item lvl-1 has-children item-4">
                    <div class="nav-item-title">
                      <a href="/grants-training">Grants &amp; Training</a>
                    </div>
                  </li>
                  <li class="nav-item lvl-1 has-children item-5">
                    <div class="nav-item-title">
                      <a href="/news-events">News &amp; Events</a>
                    </div>
                  </li>
                  <li class="nav-item lvl-1 has-children item-6">
                    <div class="nav-item-title">
                      <a href="/about-nci">About NCI</a>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="contentid-911752 slot-item last-SI">
            <div class="rawHtml">
              <div class="search" role="search">
                <form action="/search/results" method="post" id="siteSearchForm" name="siteSearchForm" onsubmit="NCIAnalytics.SiteWideSearch(this);">
                  <label class="hidden" for="swKeyword">Search</label>
                  <input placeholder="search" class="searchString ui-autocomplete-input" id="swKeyword" maxlength="255" name="swKeyword" onblur="bSearchBoxBool=false;" onfocus="bSearchBoxBool=true;" value="" autocomplete="off" type="text" aria-autocomplete="list" aria-haspopup="true">
                  <button class="searchSubmit" id="sitesearch" onclick="return siteSearchSubmit();" type="submit">
                    <span class="hidden">Search</span>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div> 
      </div>
      <!-- End nav-search bar -->
      <!-- END NAVIGATION -->
  </div><!-- END Global nav/utility bar/language -->

  <!-- Begin MAIN CONTENT AREA -->
  <div class="main-content" id="content" tabindex="0">
    <div class="row general-page-body-container collapse">
      <div class="large-12 columns">
        <div class="row">
          <div id="cgvSlBreadcrumb" class="medium-8 columns bcrumbs">
            {{ page.breadcrumb }}
              <div class="contentid-870117 slot-item only-SI">
              <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                      <li><a href="/about-cancer">About Cancer</a></li>
                      <li><a href="/about-cancer/treatment">Cancer Treatment</a></li>
                      <li class="last-breadcrumb"><a href="/about-cancer/treatment/side-effects">Side Effects</a></li>
                  </ul>
              </div>
          </div>
        </div> <!-- END "row" -->
      </div> <!-- END "large-12 columns" -->
      <div class="row">
        {{ page.content }}
        <!--    SECTION NAVIGATION -->
        {# {% if page.sidebar_first %}
        <a id="section-menu-button" href="#">Section Menu</a>
        <div id="nvcgSlSectionNav" class="medium-3 columns local-navigation">
            {{ page.sidebar_first }}
        </div>
        {% endif %} #}
        {# technically if there is no left nav we change some of the classes below. #}
        {# <div class="medium-9 columns contentzone has-section-nav" id="main" tabindex="0" role="main">
          {{ page.content }}
        </div> #}
      </div>
    </div>
  </div>

</div>

<!-- FOOTER -->
<footer class="site-footer">
    <div id="nvcgSlFooter">
      {{ page.footer }}
    </div>
</footer>
<!-- END FOOTER -->
