{{ attach_library('ncids_trans/article') }}
{% import '@ncids_trans/content_page_macros.twig' as contentPageMacros %}
<!-- ********************************* BEGIN Page Content ********************************** -->
<article>
	<h1 class="nci-heading-h1">
		{{ node.label }}
	</h1>
	<div class="cgdp-inner-content-area">
		{{ content.field_image_article }}
		{{ content.field_intro_text }}
    {{ content.field_article_body }}
	</div>
	<footer class="cgdp-article-footer">
		{{ content.field_citation }}
		{{ content.field_related_resources }}
		{{ contentPageMacros.ncidsDisplayDates(node, content) }}

		{% set hasPublicUse = node.field_public_use.value == '1' %}
    {% set hasSyndication = node.field_hhs_syndication.value[0]['syndicate'] == '1' %}
    {% if hasPublicUse or hasSyndication %}
      <div class="cgdp-article-footer__separator">
      {% if hasPublicUse %}
        {{ drupal_region('public_use') }}
      {% endif %}
      {% if hasSyndication %}
        {{ drupal_region('syndication') }}
      {% endif %}
      </div>
    {% endif %}
	</footer>
</article>
