{# TODO: split into ncids_card_macros.twig #}
{% macro ncidsFeatureCard(title, description, image, url, directory, id, entity_type, link_type, suppress_external_icon = false ) %}
	{% set renderImage = image|render %}
	{% import _self as self %}
	{% set titleID = "#{entity_type}-#{id}" %}
	{# pass in node id? *check xdebug* aria-labelledby#}
  {% set link_attributes = create_attribute() %}
  {% set link_attributes = link_attributes.setAttribute('data-eddl-landing-item', 'feature_card') %}
  {% set link_attributes = link_attributes.setAttribute('data-eddl-landing-item-link-type', link_type ) %}
    {% if suppress_external_icon %}
      {% set link_attributes = link_attributes.setAttribute('data-ncids-internal-link', true) %}
    {% endif %}
	<a href="{{ url }}" aria-labelledby="{{ titleID }}" {{ link_attributes }}>
		{{ self.imagePlaceholder(image, directory) }}
		<div class="nci-card__body">
			<span class="nci-card__title" id="{{ titleID }}">{{ title }}</span>
			{% if description %}
				<p class="nci-card__description">{{ description }}</p>
			{% endif %}
		</div>
	</a>
{% endmacro %}

{% macro imagePlaceholder(image, directory) %}
	{% set renderImage = image|render %}
	{% if renderImage %}
		{{- image -}}
	{% else %}
		<picture class="nci-card__image">
			<img src="{{ get_placeholder_image('ncids_featured_16x9') }}" alt="No Image Placeholder">
		</picture>
	{% endif %}
{% endmacro %}

{% macro ncidsFlagCard(title, description, image, url, directory, id, entity_type, link_type) %}
	{% set renderImage = image|render %}
	{% import _self as self %}
	{% set titleID = "#{entity_type}-#{id}" %}

	<a href="{{ url }}" aria-labelledby="{{ titleID }}" data-eddl-landing-item="flag_card" data-eddl-landing-item-link-type="{{ link_type }}">
		{% if renderImage %}
			{{- image -}}
		{% else %}
			<div class="cgdp-flag-card__image">
				<img src="{{ get_placeholder_image('ncids_promo_1x1') }}" alt="No Image Placeholder">
			</div>
		{% endif %}
		<div class="cgdp-flag-card__content">
			<span class="cgdp-flag-card__title" id="{{ titleID }}">{{ title }}</span>
			{% if description %}
				<p class="cgdp-flag-card__description">{{ description }}</p>
			{% endif %}
		</div>
	</a>
{% endmacro %}

{% macro ncidsImagelessCard(title, description, url, id, entity_type, link_type, suppress_external_icon = false ) %}
	{% set renderImage = image|render %}
	{% import _self as self %}
	{% set titleID = "#{entity_type}-#{id}" %}
  {% set link_attributes = create_attribute() %}
  {% set link_attributes = link_attributes.setAttribute('data-eddl-landing-item', 'imageless_card') %}
  {% set link_attributes = link_attributes.setAttribute('data-eddl-landing-item-link-type', link_type ) %}
    {% if suppress_external_icon %}
      {% set link_attributes = link_attributes.setAttribute('data-ncids-internal-link', true) %}
    {% endif %}
	<a href="{{ url }}" aria-labelledby="{{ titleID }}" {{ link_attributes }}>
		<div class="nci-card__body">
			<span class="nci-card__title" id="{{ titleID }}">{{ title }}</span>
			{% if description %}
				<p class="nci-card__description">{{ description }}</p>
			{% endif %}
		</div>
	</a>
{% endmacro %}
