{% import '@cgov_common/content_page_macros.twig' as contentPageMacros %}
<!-- ********************************* BEGIN Page Content ********************************** -->
<article>
  <div class="resize-content">
    {{ content.field_press_release_type }}

    <h1>
      {{ node.label }}
    </h1>
    {{ drupal_block('page_options') }}
    <div id="cgvBody">

      <div class="press-release-date-contact row collapse">
        {{ contentPageMacros.displayDates(node,content) }}
        {{ drupal_region('press_release_contact') }}
      </div>
      
      {{ content.field_image_article }}
      {{ content.field_intro_text }}
      {{ content.body }}
    </div>
  </div>
  
  <footer class="article-footer">
    {# {{ content.field_public_use }} #}
  </footer>
</article>
