{{ attach_library('cgov_common/cthp') }}
{# Page Content #}
<div class="row">
  <div class="large-12 columns resize-content cthp-padding">
    <!-- PAGE TITLE -->
    <h1>{{ node.label }}—{{ content.field_audience_toggle }} Version</h1>
    <!-- END PAGE TITLE -->
    {{ drupal_block('page_options') }}
  </div>
  <div id="nvcgSlCTHPInto"></div>
  {{ content.field_cthp_cards }}
</div>
{# End Title Row#}
