{# Page Content #}
{% set isPatient = (content.field_audience|field_value|render|render is same as('patient')) %}
{% set displayLang = content.field_audience["#language"] %}
{% if content.field_audience_toggle[0] %}
  {% set showToggle = true %}
  {% set url = path('entity.node.canonical', {'node':  content.field_audience_toggle[0]["#node"].nid[0].value}) %}
{% endif %}
{% set toggleText = (isPatient ? 'Go to Health Professional Version' : 'Go to Patient Version')|trans %}

<div class="cthp-content">
  <div class="row">
    <div class="large-12 columns resize-content cthp-padding">
      <!-- PAGE TITLE -->
      <h1>{{ node.label }}</h1>
      <!-- END PAGE TITLE -->
      {{ drupal_block('page_options') }}
      <div id="nvcgSlCTHPIntro">
        {% if showToggle %}
          <div class="cthp-version-toggle no-resize">
            <a class="toggle-arrow-link" href="{{ url }}">{{ toggleText }}</a>
          </div>
        {% endif %}
      </div>
      {{ content.field_cthp_cards }}
    </div>

  </div>
</div>
{# End Title Row#}
