{% if content.field_cthp_target_link[0] %}
  {% set nodeType = paragraph.field_cthp_target_link[0].entity.bundle %}
  {% if nodeType is same as('cgov_internal_link') %}
    {% set url = path('entity.node.canonical', {'node':  paragraph.field_cthp_target_link[0].entity.field_internal_link[0].target_id }) %}
    {% set description = (content.field_cthp_override_description|field_value)
        ? content.field_cthp_override_description
        : (paragraph.field_cthp_target_link[0].entity.field_internal_link[0].entity.field_feature_card_description[0].value)
              ? paragraph.field_cthp_target_link[0].entity.field_internal_link[0].entity.field_feature_card_description[0].value
              : paragraph.field_cthp_target_link[0].entity.field_internal_link[0].entity.field_browser_title[0].value
    %}
  {% elseif nodeType is same as('cgov_external_link') %}
    {% set url = paragraph.field_cthp_target_link[0].entity.field_external_link[0].uri %}
    {% set description = (content.field_cthp_override_description|field_value)
          ? content.field_cthp_override_description
          : paragraph.field_cthp_target_link[0].entity.field_external_link[0].entity.field_override_list_description[0].value
    %}
  {% endif %}
{% elseif content.field_cthp_video[0] %}
  {% if content.field_cthp_override_description|field_value %}
    {% set description = content.field_cthp_override_description|field_value %}
  {% elseif paragraph.field_cthp_video[0].entity.field_feature_card_description[0] %}
    {% set description = paragraph.field_cthp_video[0].entity.field_feature_card_description[0].value %}
  {% endif %}
  {% set url = path('entity.media.canonical', {'media':  paragraph.field_cthp_video[0].target_id }) %}
{% endif %}

<div class="equalheight bgWhite {{ content.field_cthp_card_theme|field_value }}">
  <h2>{{ content.field_cthp_card_title}}</h2>
  <div>
    {{ content.field_cthp_video }}
    {% if description and (content.field_cthp_target_link|field_value or content.field_cthp_video[0])%}
      <div class="cardBody">
        <a href="{{ url }}" class="arrow-link cthp-mm-text-area">{{ description }}</a>
      </div>
    {% endif %}
  </div>
</div>
