{#
/**
 * @file
 * Theme macros for displaying list items.
 */
#}

{% import '@cgov_common/content_page_macros.twig' as contentPageMacros %}

{% macro listItem(title, date, description, image, url, view_mode) %}
  {# Currently Thumbnail lists are not lists #}
  {% if view_mode == 'list_item_title_desc_image' %}
    {{ _self._thumbnailListItem(title, description, image, url) }}
  {% else %}
    {{ _self._normalListItem(title, date, description, image, url, view_mode) }}
  {% endif %}
{% endmacro %}

{% macro _thumbnailListItem(title, list_description, image, url) %}
  <div class="row card-thumbnail">
    {# TODO: What if no image? #}
    <div class="small-2 columns card-thumbnail-image">
      {# TODO: ESCAPE THE TITLE. USE ATTR CORRECTLY #}
      <a href="{{url}}" class="image-hover" data-title="{{title}}">{{image}}</a>
    </div>
    <div class="small-10 columns card-thumbnail-text">
      <h3>
        <a href="{{url}}">{{title}}</a>
      </h3>
      {% if list_description %}
        <p>{{list_description}}</p>
      {% endif %}
    </div>
  </div>
{% endmacro %}


{% macro _normalListItem(title, date, description, image, url, view_mode) %}
  <li class="general-list-item general list-item">
    {% if 'image' in view_mode %}
      <div class="list-item-image image container">
				<a class="item-image image" href="{{ url }}">
          {{ image }}
			  </a>
      </div>
    {% endif %}
    <div class="title-and-desc title desc container">
      <a class="title" href="{{ url }}">
        {{ title }}, {{ view_mode }}
      </a>
      {% if 'desc' in view_mode or 'date' in view_mode and (description or date) %}
      <div class="description">
        {% if 'date' in view_mode and date %}
          <div class="date">{{ date }}</div>
        {% endif %}
        {% if description %}
          <p class="body"> {{ description }}</p>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </li>
{% endmacro %}

