{# Setup the classes for the div wrapper #}
{% set style = paragraph.field_list_item_style.value %}

{% set attr = create_attribute() %}

{#
  Do not use paragraph.field_list_items to get the length
  as access filters are not applied.
#}
{% if (content.field_list_items['#items']|length > 0) %}
  <!-- List Style: {{- style -}} -->
  {% if style == 'list_item_title_desc_image_alternating' %}
    {% set alternating_image_container_classes = 'row flex-columns' %}
    {% set attr = attr.addClass(alternating_image_container_classes) %}
    <div{{ attr }}>
      <div class="medium-10 columns align-center">
        <div class="alternating-image-list-container">
          {{ content.field_list_items }}
        </div>
      </div>
    </div>
  {% else %}
    {% set attr = attr.addClass('managed list') %}
    <div{{ attr }}>
      {{ content.field_list_title }}
      {{ content.field_list_items }}
    </div>
  {% endif %}

{% else %}
  <!-- Empty List Is Hidden -->
{% endif %}
