{{ attach_library('cgov_common/event') }}
{% import '@cgov_common/content_page_macros.twig' as contentPageMacros %}
<!-- ********************************* BEGIN Page Content ********************************** -->
<article>
  <div class="resize-content">
    {{ drupal_block('page_options') }}
    {{ content.field_image_article }}
    <h1>{{ node.label }}</h1>
    {% if content.field_event_series[0] %}
      <h4>
        {{ content.field_event_series }}
      </h4>
    {%- endif -%}
    <p>
      {# TODO: Update this with a better way to print dates! #}
      {% if content.field_event_start_date[0]['#attributes']["datetime"]|date('Y-m-d') < content.field_event_end_date[0]['#attributes']["datetime"]|date('Y-m-d') %}
        {{ content.field_event_start_date[0]['#attributes']["datetime"]|date('F d') }} - {{ content.field_event_end_date[0]['#attributes']["datetime"]|date('F d, Y') }}
      {% else %}
        {{ content.field_event_start_date[0]['#attributes']["datetime"]|date('F d, Y') }}
        {% if content.field_all_day_event[0]['#markup'] == "Off" %}
          <br/>
          {{ content.field_event_start_date[0]['#attributes']["datetime"]|date('h:i A') }} - {{ content.field_event_end_date[0]['#attributes']["datetime"]|date('h:i A') }}
        {% endif %}
      {% endif %}
    </p>

    {% if content.field_venue[0] or content.field_room[0] or content.field_city_state[0] %}
      <p>
        {% if content.field_venue[0] %}
        {{ content.field_venue }}<br/>
        {% endif %}
        {% if content.field_room[0] %}
        {{ content.field_room }}<br/>
        {% endif %}
        {% if content.field_city_state[0] %}
        {{ content.field_city_state }}
        {% endif %}
      </p>
    {% endif %}
    <div id="cgvBody">
      {{ content.body }}
    </div>
  </div>

  <footer class="article-footer">
    {{ content.field_related_resources }}
  </footer>
</article>
