{{ attach_library('cgov_common/event') }}
{% import '@cgov_common/content_page_macros.twig' as contentPageMacros %}
<!-- ********************************* BEGIN Page Content ********************************** -->
{% set eventStart = content.field_event_start_date[0]['#attributes']["datetime"] %}
{% set eventEnd = content.field_event_end_date[0]['#attributes']["datetime"] %}
{% set isValidEventDate = eventStart|date('Y-m-d') < eventEnd|date('Y-m-d') %}
{% set isMultiYearEvent = eventStart|date('Y') <  eventEnd|date('Y') %}

<article>
    <div class="resize-content">

        <h1 class="event-title">{{ node.label }}</h1>
        {{ drupal_block('page_options') }}

        <div id="cgvBody">
            {{ content.field_image_article }}
            <h2 class="event-series">{{ content.field_event_series }}</h2>

            <p class="event-date-time">
                {% if isValidEventDate %}
                    {% if isMultiYearEvent %}
                        {{ eventStart|date('F j, Y') }}
                        &ndash;
                        {{ eventEnd|date('F j, Y') }}
                    {% else %}
                        {{ eventStart|date('F j') }}
                        &ndash;
                        {{ eventEnd|date('F j, Y') }}
                    {% endif %}
                {% else %}
                    {{ eventStart|date('F j, Y') }}
                    {% if content.field_all_day_event[0]['#markup'] == "Off" %}
                        {{ eventStart|date('g:i A') }}
                        &ndash;
                        {{ eventEnd|date('g:i A') }}
                    {% endif %}
                {% endif %}
            </p>

            {% if content.field_venue|field_value or content.field_room|field_value or content.field_city_state|field_value %}
                <p class="event-location">
                    {% if content.field_venue|field_value %}
                        <span class="event-location-venue">{{ content.field_venue }}</span>
                    {% endif %}
                    {% if content.field_room|field_value %}
                        <span class="event-location-room">{{ content.field_room }}</span>
                    {% endif %}
                    {% if content.field_city_state|field_value %}
                        <span class="event-location-city-state">{{ content.field_city_state }}</span>
                    {% endif %}
                </p>
            {% endif %}

            <p>
                <a href="/node/{{ node.id }}/icalendar">Add to Outlook Calendar</a>
            </p>

            {{ content.body }}
        </div>

    </div>

    <footer class="article-footer">
        {{ content.field_related_resources }}
        {{ contentPageMacros.displayDates(node, content) }}
    </footer>
</article>
