{{ attach_library('cgov_common/cancer-centers') }}
{% import '@cgov_common/content_page_macros.twig' as contentPageMacros %}
<!-- ********************************* BEGIN Page Content ********************************** -->
<article>
  <div class="resize-content">
    {{ drupal_block('page_options') }}
    <div id="nvcgSlProfilePanel" class="profile-panel">
      <div class="slot-item only-SI">
        <!-- start profile panel content -->
        <div class="inst-profile-image">
          {{ content.field_image_promotional }}
        </div>
        <div class="profile-panel-content">
          <h1>{{ node.label }}</h1>
          {% if content.field_parent_institution or content.field_institution_type %}
            <div class="profile-title">
              {{ content.field_parent_institution }}
              {% if content.field_institution_type %}
                <br/>{{ content.field_institution_type }}
              {%- endif -%}
            </div>
            {%- if content.field_org_head_name -%}
              <p>
                {{ content.field_org_head_name|escape|striptags('<!-- -->')|trim }}
                {%- if content.field_org_head_title -%}
                  , {{ content.field_org_head_title|escape|striptags('<!-- -->')|trim }}
                {%- endif -%}
              </p>
            {%- endif -%}
            {% if content.field_address_1 %}
              <p>
                {{ content.field_address_1 }}
                {% if content.field_address_2 %}
                  <br/>{{ content.field_address_2 }}
                {% endif %}
                {%- if content.field_state -%}
                  <br/>{{ content.field_city|escape|striptags('<!-- -->')|trim }}, {{ content.field_state|escape|striptags('<!-- -->')|trim }}
                {% else %}
                  <br/>{{ content.field_city }}
                {% endif %}
                {{ content.field_zip_code }}
              </p>
            {% endif %}
            {% if content.field_phone_label_1 and content.field_phone_number_1 %}
              <p>
                {{ content.field_phone_label_1 }}: <a href="tel:{{ content.field_phone_number_1 }}" rel="nofollow">{{ content.field_phone_number_1 }}</a>
              </p>
            {% endif %}
            {% if content.field_phone_label_2 and content.field_phone_number_2 %}
              <p>
                {{ content.field_phone_label_2 }}: <a href="tel:{{ content.field_phone_number_2 }}" rel="nofollow">{{ content.field_phone_number_2 }}</a>
              </p>
            {% endif %}
            {% if content.field_website_title and content.field_website_url %}
              <p>
                <a href="{{ content.field_website_url }}">{{ content.field_website_title }}</a>
              </p>
            {% endif %}
          {% endif %}
        </div>
        <!-- end profile panel content -->
      </div>
    </div>
    <!-- END Profile Panel slot -->
    <div id="cgvBody">
      {{ content.body }}
    </div>
  </div>

  <footer class="article-footer">
    {{ content.field_related_resources }}
    {{ contentPageMacros.displayDates(node, content) }}
  </footer>
</article>
