{% import '@ncids_trans/content_page_macros.twig' as contentPageMacros %}
{% import '@cgov_common/media/infographic/infographic_macros.twig' as infographicMacros %}

<!-- ********************************* BEGIN Page Content ********************************** -->
<article>
  <h1 class="nci-heading-h1">{{ name }}</h1>
  {# Need styles for body content. Usa-prose condenses the width #}
  <div>
    {{ content.body }}
  </div>
  <div class="cgdpl">
    <div class="contentzone">
      {% set classes = "image-center-full" %}
      {{ infographicMacros.infographicImage(classes, content) }}
    </div>
  </div>
  <footer>
    {{ contentPageMacros.displayDates(media,content) }}
    {% if media.field_public_use.value == '1' %}
      {{ drupal_region('public_use') }}
    {% endif %}
  </footer>
</article>
