import React from 'react';
import PropTypes from 'prop-types';
import './{{ properCase name }}.scss';

const {{ properCase name }} = ({
  sampleProperty
}) => {
  return (
    <div className="{{ dashCase name }}">
      { sampleProperty }
    </div>
  );
};

{{ properCase name }}.propTypes = {
  sampleProperty: PropTypes.string
};

{{ properCase name }}.defaultProps = {
  sampleProperty: '{{ properCase name }}'
};

export default {{ properCase name }};
