{{ attach_library('cgov_common/article') }}
<!-- ********************************* BEGIN Page Content ********************************** -->
<article>
    <!-- PUBLIC ARCHIVE BANNER -->
    <div id="cgvPublicArchiveBannerSl" class="row collapse"></div>
    <!-- END PUBLIC ARCHIVE BANNER -->
    <div class="resize-content">
        {# The idea is that this would output like CGov's title #}
        <h1>
            {{ node.label }}
        </h1>
        <div class="page-options-container">
            <!-- PAGE OPTIONS -->
            <div id="PageOptionsControl1" class="page-options no-resize ">
                <ul>
                    <li class="page-options--resize">
                        <a title="Font Resizer" aria-label="Font Resizer" href="#"></a>
                    </li>
                    <li class="page-options--print">
                        <a title="Print" aria-label="Print" href="#"></a>
                    </li>
                    <li class="page-options--email">
                        <a title="Email" aria-label="Email" href="#"></a>
                    </li>
                    <li class="social-share social-share--facebook">
                        <a title="Facebook" aria-label="Facebook" href="#"></a>
                    </li>
                    <li class="social-share social-share--twitter">
                        <a title="Twitter" aria-label="Twitter" href="#"></a>
                    </li>
                    <li class="social-share social-share--googleplus">
                        <a title="Google+" aria-label="Google+" href="#"></a>
                    </li>
                    <li class="social-share social-share--pinterest">
                        <a title="Pinterest" aria-label="Pinterest" href="#"></a>
                    </li>
                </ul>
            </div>
            <!-- END PAGE OPTIONS -->
        </div>
        <div id="cgvBody">
            {# Article image will come from content.field-lead-image #}
            {{ content.field_lead_image }}
            {{ content.body }}
        </div>
    </div>
    <footer class="article-footer">
        <div id="cgvCitationSl">
            <div class="contentid-14999 slot-item only-SI">
                <h6>Selected References</h6>
                <ol class="article-citation">
                    <li id="r1">
                        <p>Sutlu T, Alici E. Natural killer cell-based immunotherapy in cancer: current insights and future prospects.
                            <i>Journal of Internal Medicine</i> 2009;266(2):154-181.</p> <a href="http://www.ncbi.nlm.nih.gov/pubmed/19614820">[PubMed
                            Abstract]</a>
                    </li>
                    <li id="r2">
                        <p>Joshi S, Kaur S, Redig AJ, et al. Type I interferon (IFN)-dependent activation of Mnk1 and its role in the
                            generation of growth inhibitory responses. <i>Proceedings of the National Academy of Sciences U S A</i>
                            2009;106(29):12097-12102.</p> <a href="http://www.ncbi.nlm.nih.gov/pubmed/19574459">[PubMed Abstract]</a>
                    </li>
                    <li id="r3">
                        <p>Jonasch E, Haluska FG. Interferon in oncological practice: review of interferon biology, clinical
                            applications, and toxicities. <i>The Oncologist</i> 2001;6(1):34-55.</p> <a href="http://www.ncbi.nlm.nih.gov/pubmed/11161227">[PubMed
                            Abstract]</a>
                    </li>
                    <li id="r4">
                        <p>Li Y, Liu S, Margolin K, et al. Summary of the primer on tumor immunology and the biological therapy of
                            cancer. <i>Journal of Translational Medicine</i> 2009;7:11.</p> <a href="http://www.ncbi.nlm.nih.gov/pubmed/19175928">[PubMed
                            Abstract]</a>
                    </li>
                </ol>                    
            </div>
        </div>                
        {{ content.field_related_resources }}
        <div id="cgvDate">
            <div class="document-dates horizontal">
                <ul class="clearfix">
                    <li><strong>Posted:</strong> February 13, 2018</li>
                </ul>
            </div>
        </div>
    </footer>
</article>
