{{ attach_library('cgov_common/article') }}
<!-- ********************************* BEGIN Page Content ********************************** -->
<article>
    <div class="resize-content">
        <h1>
            {{ node.label }}
        </h1>
        {{ drupal_block('page_options') }}
        <div id="cgvBody">
          {{ content.field_image_article }}
          {{ content.field_intro_text }}
          {{ content.field_article_body }}
        </div>
    </div>
    {# TODO: Article footer stuff has to go somewhere. TBD. #}
    <footer class="article-footer">
    </footer>
</article>
