{{ attach_library('ncids_trans/biography') }}
{% import '@ncids_trans/content_page_macros.twig' as contentPageMacros %}
<!-- ********************************* BEGIN Page Content ********************************** -->
<article>
  <div class="cgdp-profile-box cgdp-profile-box--biography">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4">
        {{ content.field_image_promotional }}
      </div>
      <div class="tablet:grid-col-8">
        <h1 class="cgdp-profile-box__heading">{{ node.label }}</h1>

        <div class="cgdp-profile-box__field">
          {{ content.field_title }}

          {% if content.field_org_name_1|field_value or content.field_org_name_2|field_value %}
            <ul class="cgdp-profile-box__org">
              {% if content.field_org_url_1|field_value %}
                <li><a href="{{- content.field_org_url_1|field_value -}}">{{ content.field_org_name_1 }}</a></li>
              {% else %}
                <li>{{ content.field_org_name_1 }}</li>
              {% endif %}

              {% if content.field_org_name_2|field_value %}
                {% if content.field_org_url_2|field_value %}
                  <li><a href="{{- content.field_org_url_2|field_value -}}">{{ content.field_org_name_2 }}</a></li>
                {% else %}
                  <li>{{ content.field_org_name_2 }}</li>
                {% endif %}
              {% endif %}
            </ul>
          {% endif %}

          <div class="cgdp-profile-box__address">
            {% if content.field_campus|field_value or content.field_office_location|field_value %}
              {{ content.field_campus }}
              {{ (content.field_campus|field_value and content.field_office_location|field_value)? '|' : '' }}
              {{ content.field_office_location }}
            {% endif %}
          </div>

          <div class="cgdp-profile-box__phone">
            {% if content.field_phone_number|field_value or content.field_email_address|field_value %}
              {{ content.field_phone_number }}
              {{ (content.field_phone_number|field_value and content.field_email_address|field_value)? '<span class="contact-divider">|</span>': '' }}
              {{ content.field_email_address }}
            {% endif %}
          </div>

          {{ content.field_scientific_publications }}

          <div class="cgdp-profile-box__social-media">
            {% if content.field_twitter_handle|field_value or content.field_linkedin_handle|field_value or content.field_scientific_publications|field_value %}
              {{ content.field_twitter_handle }}
              {{ content.field_linkedin_handle }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End profile-panel -->

	<div class="cgdp-inner-content-area">
		<div class="cgdpl">
			<div class="contentzone">
				<div id="cgvBody">
					{{ content.body }}
					{% if node.field_display_bio_press_info.value == '1' %}
						{{ drupal_region('bio_press_info') }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<footer class="cgdp-article-footer">
		{{ content.field_related_resources }}
		{{ contentPageMacros.ncidsDisplayDates(node, content) }}
	</footer>
</article>
