{{ attach_library('ncids_trans/video') }}
{% import '@ncids_trans/templates/media/video/video_macros.twig' as videoMacros %}
{% import '@ncids_trans/content_page_macros.twig' as contentPageMacros %}
<!-- ********************************* BEGIN Page Content ********************************** -->
<article>
	<h1 class="nci-heading-h1">
		{{ name }}
	</h1>
	<div class="cgdp-main-content">
		<div class="cgdpl">
			<div class="contentzone">
				<div id="cgvBody">
					{{ content.body }}
				</div>
			</div>
		</div>
		{{ videoMacros.ncidsVideo(name, content, media) }}
	</div>
	{% if content.field_date_posted[0] or content.field_date_updated[0] or content.field_date_reviewed[0] %}
		<footer class="cgdp-article-footer">
			{{ contentPageMacros.ncidsDisplayDates(media, content) }}
		</footer>
	{% endif %}
</article>
