{% import '@ncids_trans/templates/media/video/video_macros.twig' as videoMacros %}
{% import '@ncids_trans/content_page_macros.twig' as contentPageMacros %}
<!-- ********************************* BEGIN Page Content ********************************** -->
<article>
  <h1 class="nci-heading-h1">
    {{ name }}
  </h1>
  {{ content.body }}
  {{ videoMacros.ncidsVideo(name, content, media) }}
  <footer class="cgdp-article-footer">
    {{ content.field_related_resources }}
    {{ contentPageMacros.displayDates(media, content) }}
  </footer>
</article>
