{{ attach_library('ncids_trans/pdq') }}
{% import '@ncids_trans/content_page_macros.twig' as contentPageMacros %}
<!-- ********************************* BEGIN Page Content ********************************** -->

<article>
  <div class="cgdpl">
    <div class="contentzone">
      <h1>{{- node.label -}}</h1>
      <div id="cgvBody" class="pdqdruginfosummary">
        {{ content.body }}
      </div>
    </div>
  </div>

  <footer class="cgdp-article-footer">
    {{- contentPageMacros.ncidsDisplayDates(node, content) -}}
    {% if node.field_public_use.value == '1' %}
      {{ drupal_region('public_use') }}
    {% endif %}
  </footer>
</article>
