{% import '@ncids_trans/content_page_macros.twig' as contentPageMacros %}
<!-- ********************************* BEGIN Page Content ********************************** -->

{% set isValidEventDate = event_start_date < event_end_date %}
{% set isMultiYearEvent = event_start_year < event_end_year %}

<div class="event-list-item">
    {# Title #}
    <span class="event-title__heading">
        <a class="title" href="{{ url }}">{{ label }}</a>
    </span>

    {# Series name #}
    {% if content.field_event_series|field_value %}
        <span class="event-series__heading">{{ content.field_event_series }}</span>
    {% endif %}

    {# List description #}
    <p class="event-description">{{ content.field_list_description }}</p>

    {# Date/time range #}
    <div class="event-info">
        <div class="event-date-time">
            {% if isValidEventDate %}
                {% if isMultiYearEvent %}
                    {{ event_start_long }}
                    &ndash;
                    {{ event_end_long }}
                {% else %}
                    {{ event_start_short }}
                    &ndash;
                    {{ event_end_long }}
                {% endif %}
            {% else %}
                {{ event_start_long }}
                {% if content.field_all_day_event[0]['#markup'] == "Off" %}
                    &vert;
                    {{ event_start_time }}
                    &ndash;
                    {{ event_end_time }}
                {% endif %}
            {% endif %}
        </div>

        {# Location info #}
        {% if content.field_venue|field_value or content.field_room|field_value or content.field_city_state|field_value %}
            <div class="event-location">
                {% if content.field_room|field_value %}
                    <span class="event-location-venue">{{ content.field_venue }}</span>
                {% endif %}
                {% if content.field_room|field_value %}
                    <span class="event-location-room">{{ content.field_room }}</span>
                {% endif %}
                {% if content.field_city_state|field_value %}
                    <span class="event-location-city-state">{{ content.field_city_state }}</span>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
