{% import '@ncids_trans/content/blog/blog_macros.twig' as blogMacros %}
{% set series = node.field_blog_series.entity %}

<!-- ********************************* BEGIN Blog Post Page Full Content ********************************** -->
<article>
  <div class="cgdpl resize-content">
    <h1>
      {{ node.label }}
    </h1>
    <div id="nvcgSubTitle">
      {% if series.field_feedburner_url.value %}
        <div class="subscribeRSS">
          <a class="blogRSS" href="{{ series.field_feedburner_url.value }}"><span>{% trans %}Subscribe{% endtrans %}</span></a>
        </div>
      {% endif %}
    </div>
    <div id="cgvBody" class="cgvblogpost">
      <p class="blog-post-publishing-info">
        {{ blogMacros.getByline(content) }}
      </p>
      {{ content.field_image_article }}
      {{ content.field_intro_text }}
      {{ content.body }}
    </div>
  </div>

  <footer class="cgdp-article-footer">
    {{ content.field_citation }}
    {{ content.field_related_resources }}
    {{ drupal_block('cgov_blog_pager', {label: ''}) }}
    {{ content.field_recommended_content }}
    {% if node.field_public_use.value == '1' %}
      <div class="cgdp-article-footer__separator">
        {{ drupal_region('public_use') }}
      </div>
    {% endif %}
  </footer>
</article>
<!-- ********************************* END Blog Post Page Full Content ********************************** -->
