{% import '@ncids_trans/content/blog/blog_macros.twig' as blogMacros %}
{% set series = node.field_blog_series.entity %}

<!-- ********************************* BEGIN Blog Post Page Full Content ********************************** -->
<article>
  <h1 class="nci-heading-h1">
    {{ node.label }}
  </h1>
  {{ blogMacros.drawSubscribeLink(series) }}
  <div class="usa-prose">
    <p>
      {{ blogMacros.getByline(content) }}
    </p>
  </div>
  {{ content.field_image_article }}
  <div class="resize-content">
    <div id="cgvBody" class="cgdpl cgvblogpost">
      {{ content.field_intro_text }}
      {{ content.body }}
    </div>
  </div>

  <footer class="cgdp-article-footer">
    {{ content.field_citation }}
    {{ content.field_related_resources }}
    {{ drupal_block('cgov_blog_pager', {label: ''}) }}
    {{ content.field_recommended_content }}
    {% if node.field_public_use.value == '1' %}
      <div class="cgdp-article-footer__separator">
        {{ drupal_region('public_use') }}
      </div>
    {% endif %}
  </footer>
</article>
<!-- ********************************* END Blog Post Page Full Content ********************************** -->
