{% import '@ncids_trans/content/blog/blog_macros.twig' as blogMacros %}
<!-- ********************** Blog Post List Item + Thumb ********************** -->
{% if content %}
  <div class="usa-collection__body">
    <div class="usa-collection__heading">
      <a class="usa-link" href="{{ url }}" onclick="">{{ label }}</a>
    </div>
    <div class="description">
      <ul class="usa-collection__meta">
        {% if content.field_author and content.field_author|length > 2 %}
          <li class="usa-collection__meta-item">By {{content.field_author}}</li>
        {% endif %}
        {% if content.field_date_posted %}
          <li class="usa-collection__meta-item">{{content.field_date_posted}}</li>
        {% endif %}
      </ul>
      <p class="usa-collection__description">{{ content.field_list_description }}</p>
    </div>
  </div>
{% endif %}
