{{ attach_library('ncids_trans/blogSeries') }}

{{ page.ncids_banner }}
<!-- NOTIFICATIONS HERE -->
{{ page.ncids_header }}

<div id="page" class="grid-container">
  <div class="grid-row">
    <!-- Begin MAIN CONTENT AREA -->
    <div class="main-content" id="content" tabindex="0">
      <div class="row general-page-body-container collapse">
        <div class="large-12 columns">
          <div class="row">
            {{ page.ncids_breadcrumb }}
            <div id="blogPageOptionsOuterContainer">
              {{ drupal_block('page_options') }}
            </div>
          </div> <!-- END "row" -->
        </div> <!-- END "large-12 columns" -->
        <div class="row">
          {% if page.ncids_sidenav %}
            {{ page.ncids_sidenav }}
          {% endif %}
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</div>

{{ page.ncids_footer }}
