{{ attach_library('ncids_trans/cthp') }}

{{ page.ncids_banner }}
<!-- NOTIFICATIONS HERE -->
{{ page.ncids_header }}

<div id="page">
  <div class="grid-container">
    {{ page.ncids_breadcrumb }}
  </div>

  <div class="main-content  {{ (node.field_audience.value == "patient")? 'cthp-patient-content' : 'cthp-hp-content' }}"
       id="content">

    <div class="legacy grid-container">
      <!-- Begin MAIN CONTENT AREA -->
      <main id="main-content">
        {{ page.content }}
      </main>
    </div>
  </div>
</div>

{{ page.ncids_footer }}
