{# CHANGE THIS TO ncids-global when updateing for ncids #}
{{ attach_library('ncids_trans/ncids-global') }}

{{ attach_library('ncids_trans/special-report') }}

{% set page_type = 'node--type-' ~ node.bundle|clean_class %}

{{ page.ncids_banner }}
{{ page.ncids_site_alerts }}
{{ page.ncids_header }}


<div id="page">
  <div class="cgdpl">
    <div class="main-content specialReport {{ page_type }}" id="main-content" tabindex="0">
      {{ page.content }}
    </div>
  </div>
</div>

{{ page.ncids_footer }}
