{{ attach_library('ncids_trans/dcegconnect') }}
{% set page_type = 'node--type-' ~ node.bundle|clean_class %}

{{ page.ncids_banner }}
<!-- NOTIFICATIONS HERE -->
{{ page.ncids_header }}

<div id="page" class="grid-container">
  <div class="main-content dcegConnect {{ page_type }}" id="content">
    <div class="legacy">
      <!-- Begin MAIN CONTENT AREA -->
      <main id="main-content">
        {{ page.content }}
      </main>
    </div>
  </div>
</div>

{{ page.ncids_footer }}
