{# Image Setup #}
{% if content.field_widescreen_hero[0] %}
  {% set widescreenSrc = file_url(content.field_widescreen_hero['#items'].entity.uri.value) %}
{% endif %}
{% if content.field_desktop_hero[0] %}
  {% set desktopSrc = file_url(content.field_desktop_hero['#items'].entity.uri.value) %}
{% endif %}
{% if content.field_tablet_large_hero[0] %}
  {% set tabletlgSrc = file_url(content.field_tablet_large_hero['#items'].entity.uri.value) %}
{% endif %}
{% if content.field_tablet_hero[0] %}
  {% set tabletSrc = file_url(content.field_tablet_hero['#items'].entity.uri.value) %}
{% endif %}
{% if content.field_mobile_large_hero[0] %}
  {% set mobilelgSrc = file_url(content.field_mobile_large_hero['#items'].entity.uri.value) %}
{% endif %}
{% set image_mobile = content.field_mobile_hero[0] %}

{# Theme Setup #}
{% set theme = paragraph.field_ncids_theme.value %}

{# Hero Classes Setup #}
{% set heroClasses = create_attribute() %}
{% set heroClasses = heroClasses.addClass("nci-hero") %}
{% if content.field_cta_link_buttons[0] and theme == 'light' %}
  {% set heroClasses = heroClasses.addClass("nci-hero--with-cta-strip") %}
{% endif %}

{# Primary CTA Setup #}
{% set ctaClasses = create_attribute() %}
{% set ctaClasses = ctaClasses.addClass("nci-hero__cta") %}
{% if content.field_link_button[0] %}
  {% set ctaClasses = ctaClasses.addClass("nci-hero__cta--with-button") %}
{% endif %}
{% if theme == 'dark' %}
  {% set ctaClasses = ctaClasses.addClass("nci-hero__cta--dark") %}
{% endif %}

<div class="usa-section usa-section--light usa-section--cgdp-no-top" data-eddl-landing-row>
  <div {{ heroClasses }} data-eddl-landing-item="hero">
    <picture class="nci-hero__image">
      <source media='(min-width: 1024px)' srcset="{{ widescreenSrc }}">
      <source media='(min-width: 880px)' srcset="{{ desktopSrc }}">
      <source media='(min-width: 640px)' srcset="{{ tabletlgSrc }}">
      <source media='(min-width: 480px)' srcset="{{ tabletSrc }}">
      <source media='(min-width: 320px)' srcset="{{ mobilelgSrc }}">
      {{- image_mobile -}}
    </picture>
    <div class="nci-hero__cta-container">
      <div {{ ctaClasses }}>
        <h2 class="nci-hero__cta-tagline">{{ paragraph.field_tagline.value }}</h2>
        {{ content.field_link_button }}
      </div>
    </div>
    {% if heroClasses.hasClass("nci-hero--with-cta-strip") %}
      <div class="nci-hero__nci-cta-strip-container">
        <div class="grid-container">
          {{ content.field_cta_link_buttons }}
        </div>
      </div>
    {% endif %}
  </div>
</div>
