{# ###### Setup Header ####### #}
{% set header = paragraph.field_container_heading.value %}

{# ###### Setup Description ####### #}
{% set description = paragraph.field_guide_card_description.value %}

{# ###### Setup Img ######## #}
{% set image = content.field_image_guide_card[0] %}

<h2 class="nci-guide-card__header">{{ header }}</h2>
<div class="nci-guide-card nci-guide-card--with-image-and-description">
    <div class="nci-guide-card__wrapper">
        <picture class="nci-guide-card__image">
            {% set renderImage = image|render %}
            {% if renderImage %}
                {{- image -}}
            {% else %}
                <img src="{{ get_placeholder_image('ncids_guide_card_16x9') }}" alt="No Image Placeholder">				
            {% endif %}
        </picture>
        <div class="nci-guide-card__body">
            <p class="nci-guide-card__description">{{ description }}</p>
            <ul class="nci-card__button-group">
                {{ content.field_link_buttons }}
            </ul>
        </div>
    </div>
</div>