{#
/**
 * @file
 * Theme macros for displaying list items.
 *
 * Trying to account for all the various stylings of list items is
 * challenging. So this macros file does not attempts to unify the
 * each style into one method, but provides a method for each style
 * so that nodes, internal, & external paragraph links can generate
 * the same markup, and at least reduce duplication for the same
 * style. (In a perfect world, and we will try, Views should call
 * this as well.)
 */
#}

{#
  Title only lists.

  Used in:
    * Managed Lists
    * Related Resources
    * CTHP Guide Card More Information
    * CTHP Cancer Research Card
#}
{% macro list_item_title(title, url, media_link_type, file_type, file_size, file_ext) %}
  {% if media_link_type == 'Infographic' %}
    {% set liClasslist = "infographic-list-item infographic list-item title-only" %}
  {% elseif media_link_type == 'Video' %}
    {% set liClasslist = "video-list-item video list-item title-only" %}
  {% elseif media_link_type == 'File' %}
    {% set liClasslist = "file-list-item file list-item title-only" %}
  {% else %}
    {% set liClasslist = "general-list-item general list-item title-only" %}
  {% endif %}
  <li class="{{ liClasslist }}">
    <div class="title-and-desc title desc container">
      {{ _self._output_list_title(title, url, false, media_link_type, file_type, file_size, file_ext) }}
    </div>
  </li>
{% endmacro %}

{#
  Title and Description.

  Used in:
    * Managed Lists
#}
{% macro list_item_title_desc(title, description, url, has_title_heading, media_link_type, file_type, file_size, file_ext) %}
  {% if media_link_type == 'Infographic' %}
    {% set liClasslist = "infographic-list-item infographic list-item title-desc" %}
  {% elseif media_link_type == 'Video' %}
    {% set liClasslist = "video-list-item video list-item title-desc" %}
  {% elseif media_link_type == 'File' %}
    {% set liClasslist = "file-list-item file list-item title-desc" %}
  {% else %}
    {% set liClasslist = "general-list-item general list-item title-desc" %}
  {% endif %}
  <li class="{{ liClasslist }}">
    <div class="title-and-desc title desc container">
      {{ _self._output_list_title(title, url, has_title_heading, media_link_type, file_type, file_size, file_ext) }}
      {{ _self._output_list_desc_date(description, null) }}
    </div>
  </li>
{% endmacro %}

{#
  Title, description, and image.

  Used in:
    * Managed Lists

  (Replaces old "Thumbnail Card" as well)
#}
{% macro list_item_title_desc_image(title, description, image, url, has_title_heading, media_link_type, file_type, file_size, file_ext) %}
  {% if media_link_type == 'Infographic' %}
    {% set liClasslist = "infographic-list-item infographic list-item has-media" %}
  {% elseif media_link_type == 'Video' %}
    {% set liClasslist = "video-list-item video list-item has-media" %}
  {% elseif media_link_type == 'File' %}
    {% set liClasslist = "file-list-item file list-item has-media" %}
  {% else %}
    {% set liClasslist = "general-list-item general list-item has-media" %}
  {% endif %}
  <li class="{{ liClasslist }}">
    {{ _self._output_list_image(image, url) }}
    <div class="title-and-desc title desc container">
      {{ _self._output_list_title(title, url, has_title_heading, media_link_type, file_type, file_size, file_ext) }}
      {{ _self._output_list_desc_date(description, null) }}
    </div>
  </li>
{% endmacro %}


{% macro list_item_title_desc_image_alternating(title, description, image, url, has_title_heading, media_link_type, file_type, file_size, file_ext) %}
  {% if media_link_type == 'Infographic' %}
    {% set liClasslist = "infographic-list-item infographic list-item has-media" %}
  {% elseif media_link_type == 'Video' %}
    {% set liClasslist = "video-list-item video list-item has-media" %}
  {% elseif media_link_type == 'File' %}
    {% set liClasslist = "file-list-item file list-item has-media" %}
  {% else %}
    {% set liClasslist = "general-list-item general list-item has-media" %}
  {% endif %}
  <a class = "alternating-image-list-container-link" href="{{ url }}">
    <div class="{{ liClasslist }} alternating-image-list-item">
      <div class="alternating-image-list-image">
        {{ _self._output_list_image_unlinked(image) }}
      </div>
      <div class="title-and-desc title desc container alternating-image-list-text">
        {# {{ _self._output_list_title(title, url, has_title_heading, media_link_type, file_type, file_size, file_ext) }}
        <a href="{{ url }}">{{ _self._output_list_desc_date(description, null) }}</a> #}
        {{ _self._output_list_title_unlinked(title, has_title_heading, media_link_type, file_type, file_size, file_ext) }}
        {{ _self._output_list_desc_date(description, null) }}
      </div>
    </div>
  </a>
{% endmacro %}


{#
  Title and date.
  (TODO: No media link support added pending further development)

  Used in:
    * Press Release Archive View
#}
{% macro list_item_title_date(title, date, url, has_title_heading) %}
  <li class="general-list-item general list-item title-desc">
    <div class="title-and-desc title desc container">
      {{ _self._output_list_title(title, url, has_title_heading) }}
      {{ _self._output_list_desc_date(null, date) }}
    </div>
  </li>
{% endmacro %}

{#
  Title, date, and description.

  Used in:
    * Cancer Research Pages
#}
{% macro list_item_title_date_desc(title, date, description, url, has_title_heading, media_link_type, file_type, file_size, file_ext) %}
  {% if media_link_type == 'Infographic' %}
    {% set liClasslist = "infographic-list-item infographic list-item title-desc" %}
  {% elseif media_link_type == 'Video' %}
    {% set liClasslist = "video-list-item video list-item title-desc" %}
  {% elseif media_link_type == 'File' %}
    {% set liClasslist = "file-list-item file list-item title-desc" %}
  {% else %}
    {% set liClasslist = "general-list-item general list-item title-desc" %}
  {% endif %}
  <li class="{{ liClasslist }}">
    <div class="title-and-desc title desc container">
      {{ _self._output_list_title(title, url, has_title_heading, media_link_type, file_type, file_size, file_ext) }}
      {{ _self._output_list_desc_date(description, date) }}
    </div>
  </li>
{% endmacro %}


{#
  Title

  Used in:
    * CTHP Research Block
#}
{% macro list_item_cthp_research_media(title, date, url, has_title_heading, media_link_type, file_type, file_size, file_ext)%}
  <p>
    {{ _self._output_list_title(title, url, has_title_heading, media_link_type, file_type, file_size, file_ext) }}
  </p>
{% endmacro %}


{#
  Title, description, and image.

  (TODO: No media link support added pending further development)

  Used in:
    * News & Events Press Release Listing View
#}
{% macro list_item_title_date_desc_image(title, date, description, image, url, has_title_heading) %}
  <li class="general-list-item general list-item has-media">
    {{ _self._output_list_image(image, url) }}
    <div class="title-and-desc title desc container">
      {{ _self._output_list_title(title, url, has_title_heading) }}
      {{ _self._output_list_desc_date(description, date) }}
    </div>
  </li>
{% endmacro %}

{############################
         Components
#############################}

{#
  Outputs the list item's image
 #}
{% macro _output_list_image(image, url) %}
  {% if image %}
    <div class="list-item-image image container">
      <a class="item-image image" href="{{ url }}">{{- image -}}</a>
    </div>
  {% endif %}
{% endmacro %}
{#
  Outputs the list item's image unlinked
 #}
{% macro _output_list_image_unlinked(image) %}
  {% if image %}
    <div class="list-item-image image container">
      <span class="item-image image">{{- image -}}</span>
    </div>
  {% endif %}
{% endmacro %}
{#
  Outputs the list item's title
 #}
{% macro _output_list_title(title, url, has_title_heading, media_link_type = null, file_type = null, file_size = null, file_ext = null) %}
  {% if has_title_heading %}<h3>{% endif %}
  <a class="title" href="{{ url }}">
    {{- title -}}
  </a>
  {% if media_link_type == "Infographic" or media_link_type == "Video" %}
    <span class="media-type">({{ media_link_type|trans }})</span>
  {% endif %}
  {% if media_link_type == "File" %}
    <span class="filetype {{file_type}}">
      {% if file_type != "unknown" %}
        {# Note, the spanish should have the word order reversed... #}
        <span class="show-for-sr">{{ file_type }} {% trans %}file{% endtrans %}</span>
      {% else %}
        {{ file_ext }}<span class="show-for-sr"> {% trans %}file{% endtrans %}</span>
      {% endif %}
    </span>
    <span class="filesize">({{ file_size }})</span>
  {% endif %}
  {% if has_title_heading %}</h3>{% endif %}
{% endmacro %}

{#
  Outputs the list item's title
 #}
{% macro _output_list_title_unlinked(title, has_title_heading, media_link_type = null, file_type = null, file_size = null, file_ext = null) %}
  {% if has_title_heading %}<h3>{% endif %}
  <span class="title">{{- title -}}</span>
  {% if media_link_type == "Infographic" or media_link_type == "Video" %}
    <span class="media-type">({{ media_link_type|trans }})</span>
  {% endif %}
  {% if media_link_type == "File" %}
    <span class="filetype {{file_type}}">
      {% if file_type != "unknown" %}
        {# Note, the spanish should have the word order reversed... #}
        <span class="show-for-sr">{{ file_type }} {% trans %}file{% endtrans %}</span>
      {% else %}
        {{ file_ext }}<span class="show-for-sr"> {% trans %}file{% endtrans %}</span>
      {% endif %}
    </span>
    <span class="filesize">({{ file_size }})</span>
  {% endif %}
  {% if has_title_heading %}</h3>{% endif %}
{% endmacro %}

{#
  Outputs the list item's description and/or date.
 #}
{% macro _output_list_desc_date(description, date) %}
  <div class="description">
    {% if date %}
      <div class="date">{{ date }}</div>
    {% endif %}
    {% if description %}
      <p class="body">{{ description }}</p>
    {% endif %}
  </div>
{% endmacro %}

{#
  Render the NCIDS Dynamic Lists.

  Used in:
    * NCIDS 2 Column Container (Dynamic Lists as a field)
    * NCIDS Dynamic Lists
#}
{% macro ncids_dynamic_list_macro(title, date, description = '', image, url) %}
  <li class="usa-collection__item">
    {% set renderImage = image|render %}
    {% if renderImage is not empty %}
      {{- image -}}
    {% endif %}
    <div class="usa-collection__body">
      <h3 class="usa-collection__heading">
        <a class="usa-link" href="{{ url }}">
          {{ title }}
        </a>
      </h3>
      <ul class="usa-collection__meta">
        <li class="usa-collection__meta-item">
          {{ date }}
        </li>
      </ul>
      {% if description is not empty %}
        <p class="usa-collection__description">{{ description }}</p>
      {% endif %}
    </div>
  </li>
{% endmacro %}

{% macro ncids_list_macro(title, description, url, style, image, media_type, file_type, file_size, file_ext, external_link_display) %}
  <li class="usa-collection__item" data-list-component-variant="{{ style }}">
    {% if style == "Title, Description, and Image" %}
      {% set renderImage = image|render %}
      {% if renderImage %}
        {{- image -}}
      {% else %}
        <img class="usa-collection__img" src="{{ get_placeholder_image('ncids_collections_media_4x3') }}" alt="No Image Placeholder">
      {% endif %}
    {% endif %}
    <div class="usa-collection__body">
      <h3 class="usa-collection__heading">
        {% set link_attributes = create_attribute() %}
          {% if (external_link_display == 'do_not_display') %}
            {% set link_attributes = link_attributes.setAttribute('data-ncids-internal-link', true) %}
          {% endif %}
        {% set link_classes = create_attribute({'class': ['usa-link']}) %}
          {% if (external_link_display == 'force_display') %}
            {% set link_classes = link_classes.addClass('usa-link--external') %}
          {% endif %}
        <a {{ link_classes }} href="{{ url }}" {{ link_attributes }}>
          {{- title -}}
        </a>
        {% if media_type == "Video" or media_type == "Infographic" %}
           ({{ media_type }})
        {% elseif media_type == "File" %}
          <span class="filetype {{file_type}}">
            {% if file_type != "unknown" %}
              {# Note, the spanish should have the word order reversed... #}
              <span class="usa-sr-only">{{ file_type }} {% trans %}file{% endtrans %}</span>
            {% else %}
              {{ file_ext }}<span class="usa-sr-only"> {% trans %}file{% endtrans %}</span>
            {% endif %}
          </span>
          <span class="filesize">({{ file_size }})</span>
        {% endif %}
      </h3>
      <p class="usa-collection__description">{{ description }}</p>
    </div>
  </li>
{% endmacro %}

{% macro ncids_dynamic_list_event_macro(title, startDate, endDate, description = '', url, series = '', allDay = '', venue = '', room = '', cityState = '') %}
  {% set eventStart = startDate[0]['#attributes']["datetime"] %}
  {% set eventEnd = endDate[0]['#attributes']["datetime"] %}
  {% set isMultiDayEvent = eventStart|date('Y-m-d') < eventEnd|date('Y-m-d') %}
  {% set isMultiYearEvent = eventStart|date('Y') <  eventEnd|date('Y') %}
  <li class="usa-collection__item">
    <div class="usa-collection__body">
      {# Title #}
      <h3 class="usa-collection__heading">
        <a class="usa-link" href="{{ url }}">
          {{ title }}
        </a>
      </h3>
      <ul class="usa-collection__meta">
        <li class="usa-collection__meta-item">
          {# Series name #}
          {% if series|field_value %}
            <strong>{{ series }}</strong>
            <br />
          {% endif %}
          {# Date/time range #}
          {% if isMultiDayEvent %}
            {% if isMultiYearEvent %}
              {{ eventStart|date('F j, Y') }}
              &ndash;
              {{ eventEnd|date('F j, Y') }}
            {% else %}
              {{ eventStart|date('F j') }}
              &ndash;
              {{ eventEnd|date('F j, Y') }}
            {% endif %}
          {% else %}
            {{ eventStart|date('F j, Y') }}
            {% if allDay != "On" %}
              &vert;
              {{ eventStart|date('g:i A') }}
              &ndash;
              {{ eventEnd|date('g:i A') }}
            {% endif %}
          {% endif %}
          <br />
          {# Location info #}
          {% if venue|field_value or room|field_value or cityState|field_value %}
              {% if venue|field_value %}
                {{ venue }}
              {% endif %}
              {% if room|field_value %}
                {{ room }}
              {% endif %}
              {% if cityState|field_value %}
                {{ cityState }}
              {% endif %}
          {% endif %}
        </li>
      </ul>
      {# List description #}
      {% if description is not empty %}
        <p class="usa-collection__description">{{ description }}</p>
      {% endif %}
    </div>
  </li>
{% endmacro %}

{% macro ncids_list_item_related_resource(title, url, link_type, media_type = null, file_type = null, file_size = null, file_ext = null) %}
  {% if media_type == "Video" or media_type == "Infographic" or media_type == "File" %}
  <li class="cgdp-media-link">
  {% else %}
  <li>
  {% endif %}
    <a class="usa-link" href='{{ url }}' data-list-item-type="{{ link_type }}">{{ title }}</a>
    {% if media_type == "Video" or media_type == "Infographic" %}
      <span class="cgdp-media-link__mediatype">({{ media_type }})</span>
    {% elseif media_type == "File" %}
      <span class="cgdp-media-link__filetype {{file_type}}">
        {% if file_type != "unknown" %}
          {# Note, the spanish should have the word order reversed... #}
          <span class="usa-sr-only">{{ file_type }} {% trans %}file{% endtrans %}</span>
        {% else %}
          {{ file_ext }}<span class="usa-sr-only"> {% trans %}file{% endtrans %}</span>
        {% endif %}
      </span>
      <span class="cgdp-media-link__filesize">({{ file_size }})</span>
    {% endif %}
  </li>
{% endmacro %}

