{#
/**
 * @file
 * Theme macros for displaying article images.
 */
#}


{# Renders an article image  #}
{% macro articleImage(classes, image, enlarge_uri, credit, caption, link_text = 'Enlarge') %}

  {# Set up the classes for the figure #}
  {% set attr = create_attribute() %}
  {% set attr = attr.addClass(classes) %}
  {% set attr = attr.addClass('centered-set') %}

  {# Links to infographics also use this macro but need a different class to allow them to use a chevron sprite.
  We're cheating and hooking on to an unrelated variable that tells us whether this is an infographic or not. #}
  {% set classForSpriteSelection = link_text == 'View Infographic' ? 'infographic-view-full' : 'article-image-enlarge' %}

  <figure{{ attr }}>
      <div class="centered-element">
        {{ image }}
        {% if enlarge_uri %}
          <a href="{{enlarge_uri}}"
            target="_blank"
            class="{{classForSpriteSelection}} no-resize"
          >{{ link_text|trans }}</a>
        {% endif %}
      </div>
      {% if caption|render|striptags|trim or credit  %}
        <figcaption>
          <div class="caption-container no-resize">
            {% if has_content(caption) %}
              {{ caption }}
            {% endif %}
            {% if credit %}
              <div class="image-photo-credit">{% trans %}Credit{% endtrans %}: {{ strip_duplicate_leading_credit(credit) }}</div>
            {% endif %}
          </div>
        </figcaption>
      {% endif %}
  </figure>

{% endmacro %}

{% macro ncidsImageHandler(image, caption, credit, no_image_style, enlarge_uri = null) %}
<div class="cgdp-image">
  <figure>
    {% if image %}
      {{ image }}
    {% else %}
      <img src="{{ get_placeholder_image('{{ no_image_style }}') }}" alt="No Image Placeholder">
    {% endif %}
    {% if caption %}
      <figcaption class="cgdp-image__caption">
        {{ caption }}
        {% if credit %}
          <p class="cgdp-image__credit">{% trans %}Credit{% endtrans %}: {{ credit }}</p>
        {% endif %}
      </figcaption>
    {% elseif credit %}
      <div class="cgdp-image__caption">
        <p class="cgdp-image__credit">{% trans %}Credit{% endtrans %}: {{ credit }}</p>
      </div>
    {% endif %}
  </figure>
  {% if enlarge_uri %}
    <div class="cgdp-image__enlarge">
      <a href="{{ enlarge_uri }}"
        class="usa-link"
        target="_blank"
      >
        <svg class="usa-icon" xmlns="http://www.w3.org/2000/svg" id="zoom_in" viewBox="0 0 24 24">
          <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
          <path d="M12 10h-2v2H9v-2H7V9h2V7h1v2h2v1z"/>
        </svg>
        <span>{% trans %}Enlarge Image{% endtrans %}</span>
      </a>
    </div>
  {% endif %}
</div>
{% endmacro %}
