{#
/**
 * @file
 * Theme macros for displaying cards.
 */
#}
{% macro featureCard(title, description, image, url) %}
	<div class="feature-card">
		<a href="{{ url }}">
			{% if image %}
				<div class="image-hover">
					{{- image -}}
				</div>
			{% endif %}
			<h3>{{ title }}</h3>
			{% if description %}
				<p>{{ description }}</p>
			{% endif %}
		</a>
	</div>
{% endmacro %}
{% macro titleFirstfeatureCard(title, description, image, url) %}
	<a class="title-first-feature-card-link" href="{{ url }}">
		<div class="title-first-feature-card">

			<h3>{{ title }}</h3>
			{% if image %}
				<div class="image-hover">
					{{- image -}}
				</div>
			{% endif %}
			{% if description %}
				<p class="title-first-feature-card-text">{{ description }}</p>
			{% endif %}

		</div>
	</a>
{% endmacro %}

{% macro borderlessCard(title, description, image, url, button_text, button_alt, nid, image_orientation, show_button, theme, parentTheme) %}
	{% if parentTheme == 'dceg_connect' %}
		{% set text_class = 'landing-page-body' %}
		{% set card_container_class = '' %}
	{% elseif parentTheme == 'special_report' %}
		{% set text_class = '' %}
		{% set card_container_class = 'medium-10' %}
	{% else %}
		{% set text_class = '' %}
		{% set card_container_class = '' %}
	{% endif %}

	<div class = "{{ theme }}">
		<div class="row flex-columns {{ parentTheme }} borderless-container">
			{% if show_button == 'no' %}
			<a href="{{ url }}">
				{% endif %}
				<div class="borderless-card {{ card_container_class }} columns align-center {{ image_orientation }}">
					<div class="borderless-text-container">
						{% if parentTheme == 'dceg_connect' %}
							<h1 class="desktop-tablet-display">
								{% if show_button != 'no' %}
								<a href="{{ url }}">
									{% endif %}
									{{ title }}
									{% if show_button != 'no' %}
								</a>
								{% endif %}
							</h1>
						{% else %}
							<h2 class="desktop-tablet-display">
								{% if show_button != 'no' %}
								<a href="{{ url }}">
									{% endif %}
									{{ title }}
									{% if show_button != 'no' %}
								</a>
								{% endif %}
							</h2>
						{% endif %}


						{% if description %}
							<p class="{{ text_class }}">{{ description }}</p>
						{% endif %}
						{% if show_button != 'no' %}
							<div class="centered-container thick-top-margin">
								<a href="{{ url }}" title="{{ button_alt }}" class="borderless-button">{{ button_text }}</a>
							</div>
						{% endif %}
					</div>
					{% if image %}
						<div class="image-hover borderless-image-container">
							{% if parentTheme == 'dceg_connect' %}
								<h1 class="mobile-display">
									{% if show_button != 'no' %}
									<a href="{{ url }}">
										{% endif %}
									{{ title }}
										{% if show_button != 'no' %}
									</a>
									{% endif %}
								</h1>
							{% else %}
								<h2 class="mobile-display">
									{% if show_button != 'no' %}
									<a href="{{ url }}">
										{% endif %}
									{{ title }}
										{% if show_button != 'no' %}
									</a>
									{% endif %}
								</h2>
							{% endif %}
							{% if show_button != 'no' %}
							<a href="{{ url }}">
								{% endif %}
								{{- image -}}
								{% if show_button != 'no' %}
							</a>
							{% endif %}
						</div>
					{% endif %}
				</div>
				{% if show_button == 'no' %}
			</a>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro thumbnailCard(title, list_description, image, url) %}
	<div
			class="row card-thumbnail">
		{# TODO: What if no image? #}
		<div
				class="small-2 columns card-thumbnail-image">
			{# TODO: ESCAPE THE TITLE. USE ATTR CORRECTLY #}
			<a href="{{url}}" class="image-hover" data-title="{{title}}">{{image}}</a>
		</div>
		<div class="small-10 columns card-thumbnail-text">
			<h3>
				<a href="{{url}}">{{title}}</a>
			</h3>
			{% if list_description %}
				<p>{{list_description}}</p>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro recommendedContentCard(title, url, img) %}
	<div class="slot-item equalheight large-4 columns card gutter blog-feature">
		<div class="feature-card cgvBlogPost">
			<a href="{{url}}">
				<div class="image-hover">
					{{img}}
				</div>
				<h3>{{title}}</h3>
			</a>
		</div>
	</div>
{% endmacro %}
