<!-- ********************************* BEGIN Page Content ********************************** -->
<article>
{# {{ devel_breakpoint() }} #}
    <div class="resize-content">
        <h1>
          {{ name }}
        </h1>
        {{ drupal_block('page_options') }}
        <div id="cgvBody">
          {{ content.body }}

          <figure class="image-center-full centered-set">
              <div class="centered-element">
                  {{ content.field_infographic }}
                  {% if content.enlarge_uri[0] %}
                    <a  href="{{content.enlarge_uri[0]}}"
                        target="_blank"
                        class="article-image-enlarge no-resize"
                    >{% trans %}Enlarge{% endtrans %}</a>
                  {% endif %}
              </div>
          </figure>

        </div>
    </div>
</article>
