{#
/**
 * @file
 * Theme macros for common content page tasks.
 */
#}

{% macro displayDates(node, content) %}
  {% if content.field_date_posted[0] or content.field_date_updated[0] or content.field_date_reviewed[0] %}
    {# The context used with trans is because some of the labels are translated differently
        in core.
    #}

    {% if node.getType == 'cgov_blog_post' %}
      {% if content.field_date_posted[0] %}
        <p class="blog-post-publishing-info">
          {{ content.field_date_posted.value|date("F j, Y") }}, {% trans with {'context': 'CGov UI' } %}by{% endtrans %} {{ content.field_author }}
        </p>
      {% endif %}
    {% else %}

      <div class="document-dates horizontal">
        <ul class="clearfix">
          {% if content.field_date_posted[0] %}
            <li>
              <strong>{% trans with {'context': 'CGov UI' } %}Posted{% endtrans %}:</strong>
              {{ content.field_date_posted[0] }}
            </li>
          {% endif %}
          {% if content.field_date_updated[0] %}
            <li>
              <strong>{% trans with {'context': 'CGov UI' } %}Updated{% endtrans %}:</strong>
              {{ content.field_date_updated[0] }}
            </li>
          {% endif %}
          {% if content.field_date_reviewed[0] %}
            <li>
              <strong>{% trans with {'context': 'CGov UI' } %}Reviewed{% endtrans %}:</strong>
              {{ content.field_date_reviewed[0] }}
            </li>
          {% endif %}
        </ul>
      </div>
    {% endif %}
  {% endif %}
{% endmacro %}


{% macro displayPublicUse() %}
  <div id="nvcgSlPublicUse">
    <div class="slot-item only-SI">
      <div class="public-use">
        <p id="public-use">
          <i>If you would like to reproduce some or all of this content, see <a href="/policies/copyright-reuse">Reuse of NCI Information</a> for guidance about copyright and permissions. In the case of permitted digital reproduction, please credit the National Cancer Institute as the source and link to the original NCI product using the original product's title; e.g., “High-Dose Vitamin C (PDQ®)–Health Professional Version was originally published by the National Cancer Institute.”</i>
        </p>
        <p id="comment-policy" class="blog-comment-policy">
          We welcome your comments on this post. All comments must follow our <a href="/policies/comments">comment policy</a>.
        </p>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro displaySyndication() %}
  <div id="nvcgSlSyndication">
	  <div class="slot-item only-SI">
		  <div class="syndication">
	      <div class="row collapse-edges">
          <div class="large-1 small-2 columns">
            <img alt="" src="/publishedcontent/Images/images/design-elements/icons/syndication.__v1.png" />
          </div>
          <div class="large-11 small-10 columns">
            <p style="margin-top: 0;">Want to use this content on your website or other digital platform? Our <a href="/syndication">syndication services page</a> shows you how.</p>
          </div>
        </div>
      </div>
	  </div>
  </div>
{% endmacro %}
