{#
/**
 * @file
 * Theme macros for common content page tasks.
 */
#}

{% macro displayDates(node, content) %}
  {% if content.field_date_posted[0] or content.field_date_updated[0] or content.field_date_reviewed[0] %}
    {# The context used with trans is because some of the labels are translated differently
        in core.
    #}
    <div id="cgvDate">
      <div class="document-dates horizontal">
        <ul class="clearfix">
          {% if content.field_date_posted[0] %}
            <li>
              <strong>{% trans with {'context': 'CGov UI' } %}Posted{% endtrans %}:</strong>
              {{ content.field_date_posted[0] }}
            </li>
          {% endif %}
          {% if content.field_date_updated[0] %}
            <li>
              <strong>{% trans with {'context': 'CGov UI' } %}Updated{% endtrans %}:</strong>
              {{ content.field_date_updated[0] }}
            </li>
          {% endif %}
          {% if content.field_date_reviewed[0] %}
            <li>
              <strong>{% trans with {'context': 'CGov UI' } %}Reviewed{% endtrans %}:</strong>
              {{ content.field_date_reviewed[0] }}
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endmacro %}

{% macro press_release_item(node, content, display) %}
    <article>
      <div class="resize-content">
        {% if 'title' in display %}
        <h2>
          {{ node.label }}
        </h2>
        {% endif %}
        {{ drupal_block('page_options') }}
        <div id="cgvBody">
          {% if 'image' in display %}{{ content.field_image_article }}{% endif %}
          {% if 'desc' in display %}{{ content.field_intro_text }}{% endif %}
          {% if 'body' in display %}{{ content.field_article_body }}{% endif %}
        </div>
      </div>
      {# TODO: Article footer stuff has to go somewhere. TBD. #}
      <footer class="article-footer">
        {% if 'date' in display %}{{ content.field_date_posted }}{% endif %}
      </footer>
    </article>
{% endmacro %}
