{% if content['#featured']|length > 0 %}
   <div class="slot-item">
      <div class="managed list with-date">
         <p id="Featured+Posts" tabindex="0" class="title">{% trans %}Featured Posts{% endtrans %}</p>
         <ul>
            {% for post in content['#featured'] %}
               <li class="general-list-item general list-item">
                  <div class="title-and-desc title desc container">
                     <a class="title" href="{{post['href']}}">{{post['title']}}</a>
                     <div class="byline">
                        <p>
                           {% if post['author']|length > 2 %}
                              {% spaceless %}{{post['date']}}{% endspaceless %},
                              {% trans with {'context':'CGov Blog'} %}by{% endtrans %}
                              {{post['author']}}
                           {% else %}
                              {{post['date']}}
                           {% endif %}
                        </p>
                     </div>
                  </div>
               </li>
            {% endfor %}
         </ul>
      </div>
   </div>
{% endif %}
