{#
/**
 * @file
 * Theme macros for displaying cards.
 */
#}

{# 
# Get the content author or default to 'NCI Staff' if none found.
# @param content
#}
{% macro getByline(content) %}
  {% if content.field_author and content.field_author|length > 2 %}
    {% spaceless %}{{content.field_date_posted}}{% endspaceless %},
    {% trans with {'context':'CGov Blog'} %}by{% endtrans %}
    {{content.field_author}}
  {% else %}
    {{content.field_date_posted}}
  {% endif %}
{% endmacro %}

{# 
# Look for an associated promo or article imaage.
# @param content
#}
{% macro getImage(content) %}
  {% if content.field_image_promotional and content.field_image_promotional[0] %}
    {{content.field_image_promotional}}
  {% elseif content.field_image_article and content.field_image_article[0] %}
    {{content.field_image_article}}
  {% else %}
    {# TODO: Use old placeholder image. #}
  {% endif %}
{% endmacro %}

{# 
 # Draw archive list item for month type.
 # @param array monthInfo
 # @param string monthInfo
 #}
{% macro getMonthLinks(monthInfo, year, path) %}
  {% for month, count in monthInfo %}
    <li class="month">
      <a href="{{path}}?year={{year}}&month={{month}}">
        {{ _self.transformMonthName(month) }}
      </a> ({{ count }})
    </li>
  {% endfor %}
{% endmacro %}

{# 
 # Draw archive list item for year type.
 # @param array yearInfo
 #}
{% macro getYearLinks(yearInfo, path) %}
  {% for year, count in yearInfo %}
      <li class="year">
        <a href="{{path}}?year={{year}}">{{year}}</a> ({{count}})
      </li>
  {% endfor %}
{% endmacro %}

{# 
 # Draw the title for a given Blog Series. Prepend the month/year to the title if 
 # this is a Blog Archive page. Prepend the category name if this is a Blog Category 
 # page.
 #
 # @param string month ('mm' numerical value) 
 # @param string year
 # @param string topic
 # @param object node
 #}
{% macro drawBlogSeriesTitle(month, year, topic, node) %}
  <h1>
    <span>
      {# Draw card title if a topic or archive page. #}
      {% if (topic or year) %}
        {% if year %}
          {{ month ? _self.transformMonthName(month) : '' }}
          {{ year }} &#45; 
        {% endif %}
        {% if topic %}
          {{ drupal_block('cgov_blog_topic_title', {label: topic}) }} &#45;
        {% endif %}
        {{ (node.field_card_title.value) ? node.field_card_title.value : node.field_browser_title.value }}
      {% else %}
        {{ node.label }}
      {% endif %}
    </span>
  </h1>
{% endmacro %}

{# 
 # Get long month name.
 # @param string month
 #}
{% macro transformMonthName(month) %}
  {% if month == '12' %}
    {% trans with {'context':'Long month name'} %}December{% endtrans %}
  {% elseif month == '11' %}
    {% trans with {'context':'Long month name'} %}November{% endtrans %}    
  {% elseif month == '10' %}
    {% trans with {'context':'Long month name'} %}October{% endtrans %}
  {% elseif month == '09' %}
    {% trans with {'context':'Long month name'} %}September{% endtrans %}
  {% elseif month == '08' %}
    {% trans with {'context':'Long month name'} %}August{% endtrans %}
  {% elseif month == '07' %}
    {% trans with {'context':'Long month name'} %}July{% endtrans %}
  {% elseif month == '06' %}
    {% trans with {'context':'Long month name'} %}June{% endtrans %}
  {% elseif month == '05' %}
    {% trans with {'context':'Long month name'} %}May{% endtrans %}
  {% elseif month == '04' %}
    {% trans with {'context':'Long month name'} %}April{% endtrans %}
  {% elseif month == '03' %}
    {% trans with {'context':'Long month name'} %}March{% endtrans %}
  {% elseif month == '02' %} 
    {% trans with {'context':'Long month name'} %}February{% endtrans %}
  {% else %}
    {% trans with {'context':'Long month name'} %}January{% endtrans %}
  {% endif %}
{% endmacro %}
