{% import '@cgov_common/content/blog/blog_macros.twig' as blogMacros %}
<!-- ********************************* BEGIN Blog Post Page Full Content ********************************** -->
<article>
  <div class="resize-content">
    <h1>
      {{ node.label }}
    </h1>
    <div id="nvcgSubTitle">
      <div class="subscribeRSS"><a class="blogRSS" href="https://public.govdelivery.com/accounts/USNIHNCI/subscriber/new"><span>Subscribe</span></a></div>
    </div>

    <div id="cgvBody">
      <p class="blog-post-publishing-info">
        {% spaceless %}{{ content.field_date_posted }}{% endspaceless %},
        {% trans with {'context':'CGov Blog'} %}by{% endtrans %}
        {{ blogMacros.getAuthor(content) }}
      </p>
      <div data-entity-embed-display="view_mode:media.image_display_article_medium" class="embedded-entity align-right">
        {{ content.field_image_article }}
      </div>
      {{ content.field_intro_text }}
      {{ content.body }}
      {# <i>Debug content.field_blog_series: {{ content.field_blog_series }}</i><br/> #}
    </div>
  </div>

  <footer class="article-footer">
    {{ content.field_related_resources }}
    {% if content.field_recommended_content[0] %}
      <div id="blog-cards">
        <h4>{{ node.field_blog_series.entity.field_recommended_content_header.value }}</h4>
        <div id="nvcgSlLayoutFeatureA" class="row flex-columns">
          {{ content.field_recommended_content }}
        </div>
      <div>
    {% endif %}
    {#{{ content.field_public_use }}#}
  </footer>
</article>
<!-- ********************************* END Blog Post Page Full Content ********************************** -->
