{#
/**
 * @file
 * Override Seven's theme implementation to list Blog Post content.
 *
 * Available variables:
 * - types: List of content types. Each content type contains:
 *   - url: Path to the add content of this type page.
 *   - label: The title of this type of content.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_node_add_list()
 * @see seven_preprocess_node_add_list()
 */
#}

{% macro getImage(content) %}
  {% if content.field_image_promotional and content.field_image_promotional[0] %}
    {{content.field_image_promotional}}
  {% elseif content.field_image_article and content.field_image_article[0] %}
    {{content.field_image_article}}
  {% else %}
    {# TODO: Use old placeholder image. #}
  {% endif %}
{% endmacro %}

{% if content %}
  <li class="general-list-item general list-item">

    <div class="list-item-image image container">
        <a class="item-image image" href="{{ url }}">
          {{ _self.getImage(content) }}
        </a>
    </div>

    <!-- TODO: stop double-dipping -->
    <!-- TODO: translate and find the date macro -->
    <div class="title-and-desc title desc container">
        <a class="title" href="{{ url }}" onclick="">{{ label }}</a>
        <div class="description">
          <div class="date-author">
              {{ content.field_date_posted }}, by {{ content.field_author }}
          </div>
          <p>{{ content.field_list_description }}</p>
          <p><a href="{{ url }}">Continue Reading &gt;</a></p>
        </div>
    </div>

  </li>
{% endif %}
