{% import '@cgov_common/content/blog/blog_macros.twig' as blogMacros %}
{% set series = node.field_blog_series.entity %}

<!-- ********************************* BEGIN Blog Post Page Full Content ********************************** -->
<article>
  <div class="resize-content">
    <h1>
      {{ node.label }}
    </h1>
    <div id="nvcgSubTitle">
      {% if series.field_feedburner_url.value %}
        <div class="subscribeRSS">
          <a class="blogRSS" href="{{ series.field_feedburner_url.value }}"><span>{% trans %}Subscribe{% endtrans %}</span></a>
        </div>
      {% endif %}
    </div>
    <div id="cgvBody">
      <p class="blog-post-publishing-info">
        {% spaceless %}{{ content.field_date_posted }}{% endspaceless %},
        {% trans with {'context':'CGov Blog'} %}by{% endtrans %}
        {{ blogMacros.getAuthor(content) }}
      </p>
      {% if content.field_image_article[0] %}
      <div data-entity-embed-display="view_mode:media.image_display_article_medium" class="embedded-entity align-right">
        {{ content.field_image_article }}
      </div>
      {% endif %}
      {{ content.field_intro_text }}
      {{ content.body }}
    </div>
  </div>

  <footer class="article-footer">
    {{ content.field_related_resources }}
    {% if content.field_recommended_content[0] %}
      <div id="blog-cards">
        <h4>{{ series.field_recommended_content_header.value }}</h4>
        <div id="nvcgSlLayoutFeatureA" class="row flex-columns">
          {{ content.field_recommended_content }}
        </div>
      <div>
    {% endif %}
    {% if content.field_public_use %}
      {{ content.field_public_use }}
    {% endif %}
  </footer>
</article>
<!-- ********************************* END Blog Post Page Full Content ********************************** -->
