<!-- ********************************* BEGIN Series Page Full Content ********************************** -->
<article>
  <div id="cgvBodyHeader" class="row banner-slot">
    <div class="slot-item only-SI large-12 columns body-banner">
      <a name="NCI+Update+Blog+Banner"></a>
      <div class="blog body-banner">{{ content.field_banner_image }}</div>
    </div>
  </div>
  
  <div class="resize-content">
    <h1>
      {{ node.label }}
    </h1>
    <div id="nvcgSubTitle">

      {% if node.field_feedburner_url.value|length > 0 %}
        <div class="subscribeRSS">
          <a class="blogRSS" href="my-series-url"><span>{% trans %}Subscribe{% endtrans %}</span></a>
        </div>
      {% endif %}

    </div>
    <div id="cgvBody">
      <div class="slot-item first-SI">
        <div>
          {{ field_about_blog }}
        </div>
        {{ content.field_image_article }}
        {{ content.field_intro_text }}
      </div>
      <div class="slot-item last-SI">
        <div class="dynamic list">
          <ul>
            {{ drupal_view('cgov_block_blog_posts','block_bp_list',node.id) }}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <footer class="article-footer">
    {{ content.field_related_resources }}
    {% if node.field_public_use.value == '1' %}
      {{ drupal_region('public_use') }}
    {% endif %}
  </footer>
</article>
<!-- ********************************* END Series Page Full Content ********************************** -->
