{% import '@cgov_common/content/blog/blog_macros.twig' as blogMacros %}

<!-- ********************************* BEGIN Series Page Full Content ********************************** -->
<article>
  {% if not (get.year or get.topic) %}
    {% if (content.field_banner_image[0]) %}
      <div id="cgvBodyHeader" class="row banner-slot">
        <div class="slot-item only-SI large-12 columns body-banner">
          <a name="NCI+Update+Blog+Banner"></a>
          <div class="blog body-banner">{{ content.field_banner_image }}</div>
        </div>
      </div>
    {% endif %}
  {% endif %}

  <div class="resize-content">
    {{ blogMacros.drawBlogSeriesTitle(get.month, get.year, get.topic, node) }}
    <div id="nvcgSubTitle">
      {% if node.field_feedburner_url.value|length > 0 %}
        <div class="subscribeRSS">
          <a class="blogRSS" href="{{node.field_feedburner_url.value}}"><span>{% trans %}Subscribe{% endtrans %}</span></a>
        </div>
      {% endif %}
    </div>
    <div id="blogPageOptionsInnerContainer">
      {{ drupal_block('page_options') }}
    </div>
    
    <div id="cgvBody" class="{{ get.topic ? 'cgvtopicpage' : 'cgvblogseries' }}">
      <div class="slot-item first-SI">
        {% if not (get.topic or get.year) %}
          <div>
            {{ content.field_about_blog }}
          </div>
          {{ content.field_image_article }}
          {{ content.field_intro_text }}
        {% endif %}
        {% if (get.topic) %}
          {{ drupal_block('cgov_blog_topic_intro', {label: get.topic}) }}
        {% endif %}
	    </div>
      <div class="slot-item last-SI">
        <div class="dynamic list has-images">
          <ul>
            {# Draw the appropriate view using twig_tweak. Only draw thumnail vers for now. #}
            {# if field_show_list_thumbnails #}
            {{ drupal_view('cgov_block_blog_posts', 'block_bp_list_th', node.id) }}
            {# else drupal_view('cgov_block_blog_posts', 'block_bp_list', node.id) #}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <footer class="article-footer">
    {{ content.field_related_resources }}
  </footer>
</article>
<!-- ********************************* END Series Page Full Content ********************************** -->
