<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <head-placeholder token="{{ placeholder_token|raw }}">
    <link rel="preconnect" href="https://static.cancer.gov" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <meta name="apple-mobile-web-app-title" content="Cancer.gov" />
    <meta name="application-name" content="Cancer.gov" />
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes }}>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="usa-skipnav skipnav focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    {{ page_bottom }}
  </body>
</html>
